################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Vista/IMainView.cs
/Vista/I


View.cs
/Vista/MainView.cs
/Vista/MainView.Designer.cs
/Vista/MainView.resx
/Vista/PayModeView.cs
/Vista/PayModeView.Designer.cs
/Vista/PayModeView.resx
/Properties/Resources.Designer.cs
/Properties/Resources.resx
/Properties/Settings.Designer.cs
/Properties/Settings.settings
/Presentador/MainPresenter.cs
/Presentador/PayModePresenter.cs
/Modelos/IPayModeRepository.cs
/Modelos/PayModeModel.cs
/Resources/buy.png
/Resources/cancel.png
/Resources/cerrar.png
/Resources/delete.png
/Resources/edit.png
/Resources/new.png
/Resources/salida.png
/Resources/save.png
/Resources/search.png
/Resources/sell.png
/.gitignore.txt
/App.config
/dbo.PayMode.sql
/Program.cs
/Supermarket-mvp.csproj
/Supermarket-mvp.csproj.user
/_Repositorios/BaseRepository.cs
/_Repositorios/PayModeRepository.cs
